apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-pogxnvcz
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-pogxnvcz:7b466d424e47de5ec498b8c08742e977cfdca4dc@sha256:d4ee7e394dfe18fbcb256c9387f925adeb7a52bd3bda76fc7b7aa506cbcdd446
          name: container-image
